name: CI

on:
  push:
    # branches: 
    #   - main
    # paths:
    #   - 'package.json'
    # tags-ignore:
    #   - '**'
  pull_request:
    # branches: 
    #   - main
    # paths:
    #   - 'package.json'
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      # Setup .npmrc file to publish to npm

      - uses: pnpm/action-setup@v4
        with:
          version: 9 

      - uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'
          cache-dependency-path: 'pnpm-lock.yaml'

      - name: Cache pnpm dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.pnpm-store
          key: |
            ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Install dependencies
        run: pnpm install

      - name: Run build script
        run: pnpm build

      - name: Run test script
        run: pnpm test

      # https://github.com/marketplace/actions/version-check
      # - name: Check if version has been updated
      #   id: check
      #   uses: EndBug/version-check@v2.1.4
      #   with:
      #     diff-search: true
      #     token: ${{ secrets.GITHUB_TOKEN }}

      # - name: Log when changed
      #   if: steps.check.outputs.changed == 'true'
      #   run: 'echo "Version change found in commit ${{ steps.check.outputs.commit }}! New version: ${{ steps.check.outputs.version }} (${{ steps.check.outputs.type }})"'
        
      # - name: Log when unchanged
      #   if: steps.check.outputs.changed == 'false'
      #   run: 'echo "No version change :/"'

    
      # - name: Echo branch name and condition
      #   run: |
      #     echo "Current branch is ${GITHUB_REF#refs/heads/}"
      #     if [[ "${GITHUB_REF#refs/heads/}" == "main" ]]; then
      #       echo "Condition is satisfied"
      #     else
      #       echo "Condition is not satisfied"
      #     fi
          
      # - name: Publish to npm
      #   # if: "!startsWith(github.event.head_commit.message, 'chore(deps):')"
      #   # if: github.ref == 'refs/heads/main'
      #   if: steps.check.outputs.changed == 'true'
      #   uses: JS-DevTools/npm-publish@v3
      #   with:
      #     token: ${{ secrets.NPM_TOKEN }}

  merge-dependabot:
    needs: build
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' && github.event.pull_request.user.login == 'dependabot[bot]' }}
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
      # æˆ–
      # - uses: actions/checkout@v4
      # - uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          # target: minor
          github-token: ${{ secrets.GITHUB_TOKEN }}
