name: Publish Package to npmjs

on:
  push:
    branches: 
      - main
    paths:
      - 'package.json'
    tags-ignore:
      - '**'
  pull_request:
    branches: 
      - main
    paths:
      - 'package.json'
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Setup .npmrc file to publish to npm

      - id: package
        uses: mborzenkov/read-package-version-action@v1

      - uses: pnpm/action-setup@v3
        with:
          version: 8 

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'
          cache-dependency-path: 'pnpm-lock.yaml'

      - name: Cache pnpm dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.pnpm-store
          key: |
            ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Install dependencies
        run: pnpm install

      - name: Run build script
        run: pnpm build

      - name: Check for version change
        id: check_version
        run: |
          VERSION_CHANGED=$(git diff "origin/main..${GITHUB_SHA}" -p -- ./package.json | grep "^+  \"version\":")
          echo "::set-output name=version_changed::${VERSION_CHANGED:+true}"

      - name: Echo branch name and condition
        run: |
          echo "Current branch is ${GITHUB_REF#refs/heads/}"
          if [[ "${GITHUB_REF#refs/heads/}" == "main" ]]; then
            echo "Condition is satisfied"
          else
            echo "Condition is not satisfied"
          fi
          
      - name: Publish to npm
        # if: "!startsWith(github.event.head_commit.message, 'chore(deps):')"
        if: steps.check_version.outputs.version_changed == 'true'
        # if: github.ref == 'refs/heads/main'
        uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.NPM_TOKEN }}
